In [ ]:
## 7. Transfer Categorical Columns to Numeric
## - Dummy Variables
## - Alphabetic Coding
## - Coding in order of proportion

# pd.get_dummies()

# https://stats.stackexchange.com/questions/411336/how-many-dummy-variables-should-we-include-in-our-multiple-linear-regression-ana

# Rule of Thumb: We should have at least 15 subjects per parameter. Therefore we should detect whether the number of dummies would exceed
# a reasonable number and choose some other method.
# 
# Following code to propose a method of alphabetic or order of proportion coding.

In [2]:
## Initialize Libraries
import pandas as pd
import numpy as np

In [3]:
## Read the Sample Data
df = pd.read_csv ("https://raw.githubusercontent.com/db-bangs/BDAI-Automation/main/CustSeg.Train.csv")
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [5]:
# Give information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [6]:
## List of Categorical Columns
catcols = []
for i in df.columns:
  if df[i].dtype == "object":
      catcols.append(i)
catcols

['Gender',
 'Ever_Married',
 'Graduated',
 'Profession',
 'Spending_Score',
 'Var_1',
 'Segmentation']